<section class="content-container">
    <div id="return-dashboard-container">
        <button type="button"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</button>
    </div>
    <div>
        <h2 id="secondary-subhead">Client List</h2>
        {{#if client.length}}
        <ul class="fa-ul" id="client-list">
            {{#each client as |client| }}
            <li><a id="client-link"href="/client/{{client.id}}}"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>{{client.company_name}}</a></li>
            {{/each }}
        </ul>
        {{/if}}
    </div> 
</section>