<section class="content-container">
    <div>
        <div id="return-dashboard-container">
        <a id="secondary-subhead" href="/dashboard"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</a>
        </div>
        <form id="create-form new-project-form">
            <h2 id="secondary-subhead">Create Project</h2>
            <label id="secondary-label">Name</label>
            <input type="text" id="project-name">
            <label id="secondary-label">Description</label>
            <input type="text" id="project-description">
            <label id="secondary-label">Cost</label>
            <input type="text" id="project-cost">
            <label id="secondary-label">Purchase Order #</label>
            <input type="text" id="project-po">
            <label id="secondary-label">Status</label>
            <div class="select_categories">
                <div class="select">
                    <select id="select_categories project-status" name="status">
                        <option value="new" selected="selected">New</option>
                        <option value="in-progress">In Progress</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
            </div>
            <label id="secondary-label">Client</label>
            <div class="select_categories">
                <div class="select">
                    <select id="select_categories project-client" name="client">
                        {{#each client as |client|}}
                        <option value="{{client.company_name}}" selected="selected">{{client.company_name}}</option>
                        {{/each}}
                    </select>
                </div> 
            </div>  
            <button type="submit">Create Project</button>
        </form>
    </div>
</section>

<script src="../public/javascript/add-project.js"></script>