<section class="content-container">
    <div id="dashboard-heading-container">
        <h2 id="secondary-subhead">Dashboard</h2>
        <a id="secondary-subhead" href="/dashboard/clients" class="hvr-underline-reveal">View All Clients</a>
        <a id="secondary-subhead" href="/dashboard/create-client" class="hvr-underline-reveal">Create Client</a>
        <a id="secondary-subhead" href="/dashboard/projects" class="hvr-underline-reveal">View All Projects</a>
        <a id="secondary-subhead" href="/dashboard/create-project" class="hvr-underline-reveal">Create Project</a>
        {{!-- <button type="button">Create Project</button>
        <button type="button">Create Client</button>
        <button type="button">View All Projects</button>
        <button type="button">View All Clients</button> --}}
    </div>
        <div id="dashboard-list-container">
            <div>
                <h3 id="secondary-subhead" class="hvr-float-shadow">New</h3>
                <ul class="fa-ul" id="project-list">
                    {{#each project}}
                    {{#ifContains project '{"status":"New"}'}}
                    <li><a id="project-link"href="/dashboard/projects/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                    {{/ifContains}}
                    {{/each}}
                </ul>
            </div>
            <div>
                <h3 id="secondary-subhead" class="hvr-float-shadow">In Progress</h3>
                <ul class="fa-ul" id="project-list">
                    {{#each project}}
                    {{#ifContains project '{"status":"In Progress"}'}}
                    <li><a id="project-link"href="/dashboard/projects/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                    {{/ifContains}}
                    {{/each}}
                </ul>
            </div>
            <div>
                <h3 id="secondary-subhead" class="hvr-float-shadow">Completed</h3>
                <ul class="fa-ul" id="project-list">
                    {{#each project}}
                    {{#ifContains project '{"status":"Completed"}'}}
                    <li><a id="project-link"href="/dashboard/projects/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                    {{/ifContains}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>