<section id="content-container">
    <div id="dashboard-heading-container">
        <h2 id="secondary-subhead">Dashboard</h2>
        <button type="button">Create Project</button>
        <button type="button">Create Client</button>
        <button type="button">View All Projects</button>
        <button type="button">View All Clients</button>
    </div>
        <div id="dashboard-list-container">
            <div>
                <h3 id="secondary-subhead">New</h3>
                <ul class="fa-ul" id="project-list">
                    <li><a id="project-link"href="/project/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                </ul>
            </div>
            <div>
                <h3 id="secondary-subhead">In Progress</h3>
                <ul class="fa-ul" id="project-list">
                    <li><a id="project-link"href="/project/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                </ul>
            </div>
            <div>
                <h3 id="secondary-subhead">Completed</h3>
                <ul class="fa-ul" id="project-list">
                    <li><a id="project-link"href="/project/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>