<section class="content-container" id="single-project">
    <div id="return-dashboard-container">
        <button type="button"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</button>
    </div>
    <div>
        <h2 id="secondary-subhead">Company Name</h2>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Address</h3>
            <input name="company-address" type="text" value="address">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">City</h3>
            <input name="company-city" type="text" value="city">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">State</h3>
            <input name="company-state" type="text" value="state">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Zip Code</h3>
            <input name="company-zip-code" type="text" value="zip-code">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Contact</h3>
            <input name="company-contact" type="text" value="contact">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Email</h3>
            <input name="company-email" type="text" value="email">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Phone Number</h3>
            <input name="company-phone" type="text" value="phone-number">
        </div>
    </div> 
    <div class="company-save-btn-container"> 
        <button class="company-save-btn">Save Changes</button>
    </div>
</section>