<section id="banner-container">
    <div id="banner-copy-container">
        <h2>Work Smarter. Not Harder.</h2>
        <h3>Efficiently create and manage your open invoices.</h3>
    </div>
    <div id="banner-img-container" class="hvr-icon-hang">
        <img id="banner-img" src="/assets/images/construction-worker.png" class="hvr-icon">
    </div>
</section>
<section id="use-container">
    <div id="use-industries-container">
        <ul id="use-list">
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/programmer.png" class="hvr-icon">
                <br>
                Programmers
            </li>
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/baker.png" class="hvr-icon">
                <br>
                Bakers
            </li>
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/decorator.png" class="hvr-icon">
                <br>
                Contractors
            </li>
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/cleaner.png" class="hvr-icon">
                <br>
                House Keepers
            </li>
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/author.png" class="hvr-icon">
                <br>
                Writers
            </li>
            <li class="use-list-item hvr-icon-shrink">
                <img class="use-icon" src="/assets/images/paparazzi.png" class="hvr-icon">
                <br>
                Photographers
            </li>
        </ul>
    </div>
    <div id="use-copy-container">
        <h2 id="secondary-subhead">One Platform. Limitless Uses.</h2>
        <h3 id="secondary-subhead">Flexible platform designed to work for freelancers in almost any field</h3>
    </div>
</section>
<section id="demo-container">
    <div id="demo-copy-container">
        <h2>Simple Design. Easy Management</h2>
        <h3>Quickly, efficiently create and manage your open invoices.</h3>
    </div>
    <div class="hvr-icon-bob">
        <img id="demo-img"src="/assets/images/computer.png" alt="" class="hvr-icon">
    </div>
</section>