<section id="banner-container">
    <div id="banner-copy-container">
        <h2>Work Smarter. Not Harder.</h2>
        <h3>Efficiently create and manage your open invoices.</h3>
    </div>
    <div id="banner-img-container">
        <img id="banner-img" src="../public/assets/images/construction-worker.png">
    </div>
</section>
<section id="use-container">
    <div id="use-industries-container">
        <ul id="use-list">
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/programmer.png">
                <br>
                Programmers
            </li>
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/baker.png">
                <br>
                Bakers
            </li>
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/decorator.png">
                <br>
                Contractors
            </li>
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/cleaner.png">
                <br>
                House Keepers
            </li>
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/author.png">
                <br>
                Writers
            </li>
            <li id="use-list-item">
                <img id="use-icon" src="../public/assets/images/paparazzi.png">
                <br>
                Photographers
            </li>
        </ul>
    </div>
    <div id="use-copy-container">
        <h2 id="secondary-subhead">One Platform. Limitless Uses.</h2>
        <h3 id="secondary-subhead">Flexible platform designed to work for freelancers in almost any field</h3>
    </div>
</section>
<section id="demo-container">
    <div id="demo-copy-container">
        <h2>Simple Design. Easy Management</h2>
        <h3>Quickly, efficiently create and manage your open invoices.</h3>
        <button type="button">Create Account Now</button>
    </div>
    <div> 
        <img id="demo-img"src="../public/assets/images/computer.png" alt="">
    </div>
</section>