<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SnapBooks</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header id="header-container">
            <h1>
                <a href="/">SnapBooks</a>
            </h1>
            <nav id="nav-container">
                <h4>
                    <a id="nav-link" href="/login">login.</a>
                </h4>
                <h4>
                    <a id="nav-link" href="/login">get started.</a>
                </h4>
            </nav>
        </header>
        <main>
            <div id="banner-container">
                <div id="banner-copy-container">
                    <h2>Work Smarter. Not Harder.</h2>
                    <h3>Efficiently create and manage your open invoices.</h3>
                </div>
                <div id="banner-img-container">
                    <img id="banner-img" src="../public/assets/images/construction-worker.png">
                </div>
            </div>
        </main>
    </body>
</html>
