<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SnapBooks</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header id="header-container">
            <h1>
                <a href="/">SnapBooks</a>
            </h1>
            <nav id="nav-container">
                <h4>
                    <a id="nav-link" href="/project-list">project list.</a>
                </h4>
                <h4>
                    <a id="nav-link" href="/client-list">client list.</a>
                </h4>
                <h4>
                    <a id="nav-link" href="/logout">logout.</a>
                </h4>
            </nav>
        </header>
        <main>
            <section id="dashboard-container">
                <div id="dashboard-heading-container">
                    <h2 id="secondary-subhead">Dashboard</h2>
                    <button type="button">Create Project</button>
                    <button type="button">Create Client</button>
                </div>
                    <div>
                        <h3>New</h3>
                        <ul>
                            <li><span>Project Name </span>| Client Name</li>
                            <li><span>Project Name </span>| Client Name</li>
                            <li><span>Project Name </span>| Client Name</li>
                        </ul>
                    </div>
                    

                </div>
                
            </section>
        </main>
        <footer>
            <div id="footer-container">
                <h4>
                    &#169; 2022 | SnapBooks
                </h4>
            </div>
        </footer>
    </body>
</html>
