<section id="login-container">
    <form id="login-form">
        <h2>Login</h2>
        <label>email</label>
        <input type="text" id="email-login">
        <label>password</label>
        <input type="text" id="password-login">
        <button id="login-btn"type="submit">Let's Go!</button>
    </form>
    <form id="create-account-form">
        <h2 id="secondary-subhead">Create Account</h2>
        <label id="secondary-label">email</label>
        <input type="text" id="email-signup">
        <label id="secondary-label">username</label>
        <input type="text" id="username-signup">
        <label id="secondary-label">password</label>
        <input type="text" id="password-signup">
        <button id="create-btn" type="submit">Get Started!</button>
    </form>
</section>

<script src="/javascript/login.js"></script>

