<section id="logout-container">
    <div id="logout-copy-container">
        <h2>You're logged out.</h2>
        <h3>Have a productive day.</h3>
    </div>
    <div class="hvr-icon-hang">
        <img id="logout-img-container" src="/assets/images/loggedout-image.png" class="hvr-icon">
    </div>
</section>