<section class="content-container">
    <div id="return-dashboard-container">
        <button type="button"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</button>
    </div>
    <div>
        <h2 id="secondary-subhead">Project List</h2>
        <ul class="fa-ul" id="project-list">
            <li><a id="project-link"href="/project/:id"><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Project Name | Client Name | Status</a></li>
        </ul>
    </div> 
</section>