<section class="content-container" id="single-project">
    <div id="return-dashboard-container">
        <button type="button"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</button>
    </div>
    <div>
        <h2 id="secondary-subhead">Project Name</h2>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Description</h3>
            <p>Lorem ipsum dolor sit amet, rebum affert graeci cu est, nostrum partiendo petentium sit ei, has et autem lobortis. Usu duis facilis argumentum ea, ex fastidii copiosae salutandi usu, quem quaeque volutpat eum ei. Id vitae numquam offendit duo. </p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Cost</h3>
            <p>$XXXX</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Purchase Order</h3>
            <p>XXXXXX</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Status</h3>
            <p>Lorem ipsum</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Client</h3>
            <p>Lorem ipsum</p>
        </div>
    </div> 
    <div class="project-btn-container"> 
        <button class="project-btn">Edit Project</button>
        <button class="project-btn">Delete Project</button>
        <button class="project-btn">Download PDF</button>
    </div>
</section>