<section class="content-container" id="single-client">
    <div id="return-dashboard-container">
        <button type="button"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</button>
    </div>
    <div>
        <h2 id="secondary-subhead">Company Name</h2>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Address</h3>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">City</h3>
            <p>Lorem ipsum</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">State</h3>
            <p>Lorem</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Contact</h3>
            <p>Lorem ipsum</p>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Email</h3>
            <a href="mailto:{{email}">lorem@ipsum.com</a>
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Phone Number</h3>
            <p>(123)456-7890</p>
        </div>
    </div> 
    <div class="project-btn-container"> 
        <button class="project-btn">Edit Client</button>
        <button class="project-btn">Delete Client</button>
        <button class="project-btn">Create New Project</button>
    </div>
</section>